
.DS_Store
*.docx
*.pdf
Number Story 1.skt/Layer~0.png
Number Story 1.skt/Layer~1.png
Number Story 1.skt/QuickLook/Preview.jpg
Number Story 1.skt/QuickLook/Thumbnail.png
Number Story 1.skt/Properties.plist
