body {
  background-color: lightgoldenrodyellow;
}

/* NUMBER STORY 1 SETTINGS */

/* Box 1 */
div[data-testid="stHorizontalBlock"] > div:first-of-type {
    background-color: #FCCCCC;
    text-align: center;
}

/* Box 2 */
div[data-testid="stHorizontalBlock"] > div:nth-of-type(2) {
    background-color: #FCCCCC;
    text-align: center;
}

/* Box 3 */
div[data-testid="stHorizontalBlock"] > div:nth-of-type(3) {
    background-color: #FCCCCC;
    text-align: center;
}

/* Box 4 */
div[data-testid="stHorizontalBlock"] > div:nth-of-type(4) {
    background-color: #FCCCCC;
    text-align: center;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}